<%= form_for @buket do |f| %>
  <% if @buket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buket.errors.count, "error") %> prohibited this buket from being saved:</h2>

      <ul>
      <% @buket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :flower %><br />
    <%= f.text_field :flower %>
  </div>
  
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
    <div class="field">
    <%= f.label :prise %><br />
    <%= f.number_field :prise %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
